<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>مدار الکتریکی</title>
    <link rel="stylesheet" href={{ url_for( 'static', filename='style.css' ) }} />
    <link rel="stylesheet" href={{ url_for( 'static', filename='button.css' ) }} />
    <link rel="shortcut icon" href={{ url_for( 'static', filename='img/icon.png' ) }} />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body onload="renderSidebar()">
    <div id="container">

        <div id="inputs">
            <canvas id="canvas">
				Your browser does not support the HTML5 canvas tag.</canvas>

            <div id="node-nums">
                <form class="node-form" id="calculate" method="GET" action={{ url_for( 'calculate') }}>
                    <button type="submit" id="calc-btn btn">Calculate</button>
                </form>

                <form class="node-form" method="GET" action={{ url_for('draw') }}>
                    <button type="submit" id="calc-btn btn2">DrawCircuit</button>
                </form>

                <form class="node-form" method="GET" action={{ url_for('reset') }}>
                    <button type="submit" id="calc-btn btn2">Reset</button>
                </form>

            </div>
        </div>
        <div id="sidebar"></div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src={{ url_for( 'static', filename='script.js' ) }}></script>
    <script src={{ url_for( 'static', filename='button.js' ) }}></script>

    <script>
        var c = document.getElementById("canvas");
        var ctx = c.getContext("2d");
        ctx.font = "30px Comic Sans MS";
        ctx.lineWidth = 1;
        ctx.strokeText("1", 40, 25);
        ctx.strokeText("4", 140, 25);
        ctx.strokeText("6", 240, 25);
    

        ctx.strokeText("2", 40, 75);
        ctx.strokeText("5", 140, 75);
        ctx.strokeText("8", 240, 75);

        
        ctx.strokeText("3", 40, 125);
        ctx.strokeText("6", 140, 125);
        ctx.strokeText("9", 240, 125);
    </script>

</body>

</html>
